body {
    height: 100%;
    background-color: black;
}

.inner {
    margin-left: 7px;
    margin-top: 5px;
}

.text {
    color:#00ba4d;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.1em;
}

.text:focus {
    outline-width: 0;
}

#form-content {
    overflow: hidden;
    white-space: nowrap;
}

input[type="text"]
{
    font-size:1.1em;
}

p{
    margin: 2px;
}

a {
    color: white;
}
